.mantine-TextInput-input{
    border-color:#959393;
}

.appointment .mantine-Month-monthCell{
 padding-left:0.5rem !important;
 padding-right:0.5rem !important;
}


.appointment .mantine-DatePicker-calendarHeader{
    max-width: 100%;/*calc(2.25rem * 7 + 0.4375rem)*/
}
 

/*mantine-InputWrapper-label */
/*
.mantine-RadioGroup-label {
    font-size:1rem;
    font-weight: 600;
}

.mantine-Select-label {
    font-size:1rem;
    font-weight: 600;
} */